<% if (site.tags && site.tags.length){ %>
<div class="m_widget tagcloud">
    <div class="header">标了个签</div>
    <div class='content' id="tagscloud">
        <%- tagcloud(site.tags, {
            min_font: 14, 
            max_font: 20, 
            color: true, 
            start_color: 'gray', 
            end_color: 'black'
        }) %>
    </div>
</div>
<% } %>

